* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
  background-color: #fafafa;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
}

button {
  background-color: #4e54ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  min-width: 100px;
  transition: 500ms;
}

button:hover {
  filter: opacity(0.8);
}